<div id="panel" data-controller="panel popups pois" data-marker-location-icon-url="<%= asset_path('icons/marker-location.png') %>">
  <div class="map" data-panel-target="map"></div>

  <div class="panel-top-right-options">
    <% unless current_user %>
      <%= link_to user_session_path, class: "btn btn-primary rounded-circle", title: "Iniciar sesión" do %>
        <i class="fas fa-user"></i>
      <% end %>
    <% else %>
      <%= link_to destroy_user_session_path, class: "btn btn-danger rounded-circle", data: { method: :delete } do %>
        <i class="fa fa-power-off"></i>
      <% end %>

      <%= link_to new_poi_path, id: "new-poi",
            class: "btn btn-secondary rounded-circle ml-2",
            remote: true,
            title: "Registrar punto de interés",
            data: {
              closest_target: ".panel-top-right-options",
              popup_title: "Registrar Punto de Interés",
              controller_target: "Pois",
              action: "
                click->popups#showModule
                click->popups#hidePanelOptions
                ajax:beforeSend->popups#loadingPopupMain
                ajax:success->popups#showContentPopupMain
                ajax:success->pois#showPoiForm
              "
            } do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>

  <div class="panel-bottom-right-options">
    <button type="button" class="panel-options-icon" title="Mostrar ubicación actual" data-action="panel#getLocation panel#focusLastPositionMarker" data-marker-focus="true">
      <%= image_tag("icons/current-location.svg", size: 40) %>
    </button>
  </div>
  <div class="panel-popup" data-popups-target="panelPopup"></div>
</div>
